@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100%;
}

/* Webkit browsers (Chrome, Safari) */
.comment-list::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

.comment-list::-webkit-scrollbar-thumb {
    background-color: transparent; /* Thumb Color */
    border-radius: 6px;
}

.comment-list::-webkit-scrollbar-track {
    background-color: transparent; /* Track Color */
}

.comment-list:hover::-webkit-scrollbar-thumb {
    background-color: #a2c3de; /* Thumb Color */
    border-radius: 6px;
}

.comment-list:hover::-webkit-scrollbar-track {
    background-color: #f1f1f3; /* Track Color */
}

a.hashtag {
    text-decoration: #4b9afa;
    color: #4156e2;
    background-color: #eaf4ff;
}
