@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100%;
}

/* Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: transparent; /* Thumb Color */
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Track Color */
}

/* Webkit browsers (Chrome, Safari) */
html.dark ::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

html.dark ::-webkit-scrollbar-thumb {
    background-color: #031a25; /* Thumb Color */
    border-radius: 6px;
}

html.dark ::-webkit-scrollbar-track {
    background-color: #0a2d3e; /* Track Color */
}

.comment-list:hover::-webkit-scrollbar-thumb {
    background-color: #a2c3de; /* Thumb Color */
    border-radius: 6px;
}

.comment-list:hover::-webkit-scrollbar-track {
    background-color: #f1f1f3; /* Track Color */
}

a.hashtag {
    text-decoration: #4b9afa;
    color: #4156e2;
    background-color: #eaf4ff;
}
